/* Ustawia tło dla całego dokumentu */
body {
    background-color: #f0f0f0; /* Zmień na właściwy kolor tła */
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

/* Centruje tekst i dodaje tło do wyróżnionego fragmentu tekstu */
.elementor-heading-title {
    text-align: center;
}

.highlight {
    background-color: #13334d;
    color: white;
    padding: 0.2em 0.4em; /* Dostosuj wypełnienie do swoich potrzeb */
    display: inline; /* Lub 'inline-block', jeśli chcesz zdefiniować szerokość/wysokość */
}

/* Zmniejsza obrazek i wyśrodkowuje go */
.elementor-widget-image img {
    max-width: 100px; /* Dostosuj maksymalną szerokość do swoich potrzeb */
    display: block;
    margin: 0 auto; /* Wyśrodkowuje obrazek */
}
