/* Globalne style dla całego dokumentu */
.body {
    background-color: #F9F8F6;
    color: #333;
    font-family: 'Montserrat', Sans-serif;
    margin: 0;
    padding: 0;
}

/* Stylowanie specyficzne dla sekcji firmowej */
.section-firmy__container {
    text-align: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.section-firmy__title {
    color: #13334d;
    font-family: 'Montserrat', Sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.section-firmy__flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex-grow: 0;
    align-self: center;
    transition: background 0.3s;
    margin-top: -7%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

/* Stylowanie specyficzne dla sekcji kontaktowej */
.section-kontakt__container {
    text-align: center;
    width: 80%;
    max-width: 1000px; /* Lekko węższe dla kontrastu */
    margin: 20px auto;
}

.section-kontakt__image-container {
    margin-bottom: 10px;
}

.section-kontakt__image {
    width: 40px;
    height: auto;
}

.section-kontakt__heading {
    color: #505050;
    font-family: 'Montserrat', Sans-serif;
    font-weight: 700;
    line-height: 50px;
}

.section-kontakt__highlight {
    background-color: #13334d;
    color: white;
    padding: 0.2em 0.4em;
}

/* Media queries dla odpowiedzi na zmiany rozmiarów ekranu */
@media (max-width: 768px) {
    .section-firmy__container, .section-kontakt__container {
        width: 95%;
    }
}

